# Ensure text files use native line endings
* text=auto
# Explicitly set LF for Flutter-related files
*.dart text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.cc text eol=lf
*.h text eol=lf
*.cmake text eol=lf
*.swift text eol=lf